

/*
|----------------------------------------------
| _query 320 pra coisas bem especificas
|----------------------------------------------
*/

@media only screen and (max-width:320px) {  
    
    
// **
// galeria da HOME    
// **    
.single-galeria li.list-tao{
    img{            
    width:110px;
    height:74px;
    }    
        &:nth-child(1n){
            margin:0 7px 15px 7px;       
        }
    }   
  
    
}

/*
|----------------------------------------------
| _query 800 pra galeria
|----------------------------------------------
*/
@media only screen and (min-width:800px) {
    
// **
// galeria resp     
// **
.home .list-tao:nth-child(3n){
    margin-right: 0;
    }  
    
}
    




/*
|----------------------------------------------
| _query 800 pra coisas globais
|----------------------------------------------
*/
@media only screen and (max-width:800px) {
.cem .grid{
    width:90%;
    margin: 0 auto;     
}
    
.tit-nivel3{font-size:1.2em!important;}

// **
// header
// **   
.header {  
  padding: 0;
  .tp{              
  position: fixed; border-bottom:1px solid $cl2;
  z-index:999; 
  width: 100%;
  background:$cl1;      
  }
  &:after{
      top: 0;
  }
}    

// **
// menu
// **
.b-menu{
    margin-top: 0;
    width: auto;
    background:$cl1;
}
    
// **
// painel
// **
section.painel{
    margin-top:60px; 
}
// **
// logo
// **
.logo{
       //transition:ease-in .2s;
       @include size(70px,58px);
       background-size: 100%;
       margin: 9px 10px;
     float: left
}  

//**
// inner content
//**
.cont{
  padding-top:100px;
  .tits{
    margin-top: 0;
    .tit-nivel2{
      color: $cl2;
      //border-bottom:1px solid $cl2;
    }
  }
}
 
 
    
// **
// rodapé
// **
.rdp{    
    padding-bottom: 10px;
    margin-top: 35px;
    .iframe, .menu{
        display: none;
    }    
}

.address{
    margin-left: 0;
    text-align: center;
    p{
    font:ft-convert(20) $ft1;
    width: 100%;
    margin-bottom: 10px;
    text-align: center;
        
    }
}
    
.fone{
    font-size:$t-gg!important;    
}
    
.direitos{
    display: none;
}    
    
.edeas{
    margin-top:13px;
    text-align: right;
}    
   



    
    
    
//************************************************** //inner-content   



// **
// outros estilos
// **
.tit-nivel2{
font-size:1.7em!important;
}

.cont .link-center{
width: 100%;  
margin-top:-50px;   
}    
    
.area .input{
margin-bottom: 7px;
}

.prev1, .next1, .prev, .next, .img-content{
display: none!important;
}

.form-contato{
margin: 0;
}    

    
    
}


/*
|----------------------------------------------
| _query 800 do menu principal
|----------------------------------------------
*/
@media screen and (min-width:800px) {

.anima-menu {
   display: none;
}

.js nav[role=navigation] {
    clear: none;
    max-height: none;
}
/*menu normal*/  
nav[role=navigation] .menu {
    border: 0;    
    float:left;
    margin-top:10px;
    background:transparent;
    width:100%;    
}

/*estilizando a lista do menu*/
nav[role=navigation]  .menu{
    li {         
    display: inline-block;    
    margin: 0 10px;       
    text-transform:uppercase;        
    //padding-right:20px;
    //border-right:1px solid rgba($cl1, .5);
        &:first-child{
            margin-left:60px;
        }   
    
        
        &:last-child{
            margin-right:0;
        }
     }
}
/*estilizando o link do menu*/
nav[role=navigation] .menu-link {
    border: 0;    
    font:ft-convert(18) $ft1; 
    color:#fff;       
    padding:15px 10px;     
    }
    /*.menu li .menu-link[title*="Home"]{
        padding-left: 0;
}*/
//.menu li:first-child{background: rgba($cl1, .2)}    
    
    
/*estilizando o hover do menu*/
nav[role=navigation] .menu-link:hover{background:none; color:$cl3}
}




