/*
|----------------------------------------------
| _query 320
|----------------------------------------------
*/
@media only screen and (max-width:320px) {  
    
   
}

/*
|----------------------------------------------
| _query 480
|----------------------------------------------
*/
@media only screen and (max-width: 480px){

// swiper slide
	.associados{		
		.swiper-slide img, .swiper-slide a img{
			width:180px $imp;
			margin: 0 auto;
		}
	} 
	
	
	// titulos
	h2.tit__2{		
		font:ft-convert(20) $ft2;	
		&--sessao{
		font-size:1.3em!important;			
		}
		&--painel{
		font-size:.69em!important;			
		}
	}
	
	
	// titulos
	.tit__2{		
		font:ft-convert(25) $ft2;	
		&--sessao{
		font-size:1.4em!important;			
		}
		&--painel{
		font-size:.89em!important;			
		}
	}
	
	
	
// vertical middle => 'servicos'
.box{
	display:inline-table;
	height:150px;
	width:100%;
	text-align:center;
	&__item{
		display: table-cell;
		vertical-align: middle;	
		text-align:center	
	}
	&__img{
		display: none
	}
}
	

}

/*
|----------------------------------------------
| _query 600
|----------------------------------------------
*/
@media only screen and (max-width:600px) {



}









/*
|----------------------------------------------
| _ajustes 1024
|----------------------------------------------
*/
@media screen and (min-width:768px) and (max-width: 1023px)  {	
	
	.navbar-brand{
		margin-bottom: 0 $imp
	}
	
	.painel{
		margin-top:315px;
	}

}







/*
|----------------------------------------------
| _query 768
|----------------------------------------------
*/
@media only screen and (max-width:767px) {

 /* Logo Responsivo ( Redimeciona )*/
      .navbar-brand{
		  background:#fff !important;	
		@include size(90px,50px)
        margin:10px;
        img{
            @include size(90px,50px)
        }
    }    
	
	// midias sociais do top
	.midia--head{
		display: none $imp; 
	}

	
	// img's responsivas	
	.img{
	width: 100%;
	height: auto;
	display: block
	}
	
	// titulos
	.tit__2{		
		font:ft-convert(25) $ft2;	
		&--sessao{
		font-size:1.4em!important;			
		}
		&--painel{
		font-size:.89em!important;			
		}
	}

	
	// painel
	.painel{
		margin-top: 65px;
	}
	
	
//**
// Serviços
//**
	.servicos{
		.tit__3{
			font-size: 1em;
		}
		&__link{
		display: block		
		}
}	
			
	
	

    /* Inner Content Responsivo */
    .cont{
      padding-top:100px;
    
    }
	
	
	
	
	
	.capa-interna{
		margin: 0 $imp;
		overflow: inherit $imp
	}
	.capa-interna__item{
		position:inherit $imp;
		bottom: inherit $imp;
		.tit__2--interno{
			color: $cl-blue-light $imp;
			font-size: 1.4em $imp
		}
	}
	
	
	
    
 /* Rodapé Responsivo*/

	.rdp{
		padding: 25px 0;
	}	
	
.direitos{
	display: none;
}

.midia{
	margin-bottom: 20px;
	display: table;
	&__item{
	float: left;
		padding: 0;
		margin-right: 15px;
	}
}	
	
.edeas{
float: left $imp;
padding-left: 15px;
}
    /* Outros Estilos Responsivo*/

    .area .input{
    margin-bottom: 7px ;
    }

    .prev1, .next1, .prev, .next, .img-content{
    display: none!important;
    }

    .form-contato{
    margin: 0;
    }


    
}



/*
|----------------------------------------------
| _1024
|----------------------------------------------
*/

@media (max-width:1023px){
 .navbar-default, .navbar {
	 	height: auto $imp;
	 	width: 100%;
		background: $cl1$imp;
		 a.menu-link{
			color: $cl-blue $imp;
		}

		.navbar-toggle{
			border-color: transparent;
		}

		.navbar-toggle:hover,  .navbar-toggle:focus{
			background: transparent;
		}

		.icon-bar{
			background-color:$cl-blue$imp;
		}
		.navbar-collapse{
			border:0!important;
		}
	}

  .navbar-nav{
	background: $cl-blue$imp;
}
	//dropdown
	.navbar-nav .open .dropdown-menu {
		position: static;
		float: none;
		width: auto;
		margin-top: 0;
		background-color: transparent;
		border: 0;
		-webkit-box-shadow: none;
		box-shadow: none;
	}
	.navbar-nav .open .dropdown-menu > li > a {
		line-height: 20px;
	}
	.navbar-nav .open .dropdown-menu > li > a,
	.navbar-nav .open .dropdown-menu .dropdown-header {
		padding: 5px 15px 5px 25px;
	}
	.dropdown-menu > li > a {
		display: block;
		padding: 3px 20px;
		clear: both;
		font-weight: normal;
		line-height: 1.42857143;
		color:$cl1;
		white-space: nowrap;
	}
    .navbar-header {
        float: none;
		
		border-bottom: 1px solid #e3e3e3
    }
    .navbar-toggle {
        display: block;
		margin-top:16px;
    }
    .navbar-collapse {
        border-top: 1px solid transparent;
        box-shadow: inset 0 1px 0 rgba(255,255,255,0.1);
    }
    .navbar-collapse.collapse {
        display: none!important;
		background: #f4f4f4;
		padding-bottom: 15px;
    }
    .navbar-nav {
        float: none!important;
        /*margin: 7.5px -15px;*/
		//margin: 7.5px 50px 7.5px -15px
    }
    .navbar-nav>li {
        float: none;
    }
    .navbar-nav>li>a {
        padding-top: 10px;
        padding-bottom: 10px;
		&:hover{
			color:red!important
		}
    }
    .navbar-text {
        float: none;
        margin: 15px 0;
    }
    /* since 3.1.0 */
    .navbar-collapse.collapse.in { 
        display: block!important;
    }
    .collapsing {
        overflow: hidden!important;
    }

}






