@charset "UTF-8";

/*
****
****

Date: DD/MM/AAAA
Organization of the Styles Sheets

** FRAMEWORK'S CSS
    -- compass


** GLOBAL
    -- variables
    -- placeholder
    -- mixins
    -- normalize
    -- reset
	-- components
    -- fonts

** MODULES
    -- helpers
    -- bootstrap
    -- menu
    -- form
    -- swiper
    -- buttons

** SECTIONS
	-- header
	-- footer
	-- inner content
	-- query

** CUSTOM SECTIONS
    --

****
****

*/


// **
// FRAMEWORK'S CSS
// **
@import "compass";


// **
// GLOBAL
// **
@import "global/variables";
@import "global/placeholder";
@import "global/mixins";
@import "global/normalize";
@import "global/reset";
@import "global/fonts";
@import "global/components";

// **
// MODULES
// **
@import "modules/helpers";
@import "modules/bootstrap";
@import "modules/menu";
@import "modules/form";
@import "modules/swiper";
@import "modules/buttons";


// **
// SECTIONS
// **
@import "sections/header";
@import "sections/footer";
@import "sections/inner-content";
@import "sections/query";


// **
// CUSTOM SECTIONS
// **


/*
|----------------------------------------------
| main custom
|----------------------------------------------
*/
//for para cores e margin nos titulos

 @for $i from 1 through 6 {
   h#{$i} {
      margin: 10px 0 0;
      //font-family: $ft1;
     }
 }



.tit{
    margin:30px 0;
		&__2{
			font:ft-convert(32) $ft2;
			color: $cl2;
			&--center{
				text-align: center;
			}
			&--rdp{
				color: $cl1;
				text-align: center;
			}
		}
}



.sobre{
	padding: 75px 0;
}





/* mudar selecao */
::-moz-selection {color:#000; background:#d74a2c; text-shadow:none;}
::selection {color:#000; background:#d74a2c; text-shadow:none;}


*,
*:after,
*:before {
  @include box-sizing(border-box);
}

/* css micro clearfix */
.cf{@extend %clearfix}

