/*
|----------------------------------------------
| Menu
|----------------------------------------------
*/

//mark menu
/*.home .menu-link[title*="Home"],
.page-produtos .menu-link[title*="Produtos"],
.page-contato .menu-link[title*="Contato"]{color:$cl1!important;}*/

.navbar-toggle {
  border: none;
  background: transparent !important;

  &:hover {
    background: transparent !important;
  }

  .icon-bar {
    width: 22px;
    transition: all 0.2s;
  }
  .top-bar {
    transform: rotate(45deg);
    transform-origin: 10% 10%;
  }
  .middle-bar {
    opacity: 0;
  }
  .bottom-bar {
    transform: rotate(-45deg);
    transform-origin: 10% 90%;
  }
}

.navbar-toggle.collapsed {
  .top-bar {
    transform: rotate(0);
  }
  .middle-bar {
    opacity: 1;
  }
  .bottom-bar {
    transform: rotate(0);
  }
}




//**
// menu
//**
.navbar-nav{
	margin-top: 15px$imp;
}
.navbar{	
      margin-bottom: inherit;
	  height: 100%;          
	  box-shadow:5px 0 10px -3px #e4e4e4;
      border:none;
      border-radius:0px;
      padding: 15px 0;
        /*li{
            margin: 0 15px;
        }*/
	
	&-header{
		float: inherit $imp;
		/*margin: 0 auto;
    	display: table;*/
	}
	
	
	li{
		border-bottom:solid 1px #f0f0f0;
	}
        a.menu-link {
          padding:12px 10px;
		  
          display: block;
          font:ft-convert(19) $ft1;
          color:$cl-blue $imp;
            &:hover{
            color:$cl-yellow $imp;
				background: transparent;
            }
        }
        &-nav{
          margin-top:0;	
        }
    }

    .navbar li.active > a{
      background-color:transparent$imp;
	 color:$cl-yellow $imp
      //@include back($cl1 $imp, $cl2 $imp);
      // &:hover{
      //   background-color: black;
      // }
    }