/*
|----------------------------------------------
| Variables
|----------------------------------------------
*/

// Cores
$cl1 : #2574a9;  // blue
$cl2 : #c0392b;  // red
$cl3 : #565656;  // gray
$cl4 : #29aa64;  // green
$cl5 : #f1c40f;    // yellow
$cl-black : #000;    // black
$cl-red : red;    // red


// Fontes
$ft1  : "open_sansregular";
$fta1 : 'opensans-regular-webfont';

$ft2  : "montserratlight";
$fta2 : 'montserrat-light-webfont';



// Tamanhos
$t-pp    : .750em;      // 12px
$t-p      : .875em;     // 14px
$t-m     : 1em;         // 16px
$t-g      : 1.5em;      // 24px
$t-gg    : 1.875em;   // 30px
$t-ggg  : 1.875em;   // 30px

// Grid 
$pad  : 10px;
$full : 100%;
$center : 990px;



/*  constants */
$imp : !important;
$dno : none;
$dbl : block;
$dbl : block;
